<div class="container-fluid body">
  <div class="container">
  <div class="row ">
    <div class="col-lg-3 col-md-3"></div>
    <div class="col-lg-6 col-md-6  text-center color p-4 text-white">
      <h2 class="mt-5 mb-5">Angular Lifecycle Hooks</h2>
      <span class="setup">Given Number</span><br><br>
      <h1 class="punchline">{{ data }}</h1><br>
    <button type="button" class="btn btn-success mb-5"(click)="fnAddNumber()">Add NUmber</button>
    <button type="button" class="btn btn-danger ml-3 mb-5" (click)="deleteNumber()">Clear Number </button>
    </div>
    <div class="col-lg-3 col-md-3"></div>
  </div>
</div>
</div>
<router-outlet></router-outlet>
